asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
crispy-bootstrap4
cryptography
daphne
Django
django-crispy-forms
docopt
gunicorn
hyperlink
idna
incremental
packaging
pillow
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
python-magic
requests
service-identity
sqlparse
Twisted
txaio
typing_extensions
tzdata
urllib3
yarg
zope.interface
