{% extends "chat/base.html" %}
{% block content %}
<div class="card shadow-lg p-4 mb-5 bg-white rounded animated fadeIn">
  <div class="d-flex align-items-center">
    <img src="{{ viewed_user.profile.image.url }}" class="rounded-circle mr-3" width="80" height="80">
    <div>
      <h3>{{ viewed_user.username }}</h3>
      {% if viewed_user != user %}
        {% if not has_pending_request and not is_dm %}
          <a href="{% url 'send_message_request' viewed_user.username %}" class="btn btn-outline-primary mt-2 animated bounceIn">Send Message Request</a>
        {% elif has_pending_request %}
          <span class="text-warning">Request Sent</span>
        {% elif is_dm %}
          <span class="text-success">Already in Direct Messages</span>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}